<div class="bar bar-header bar-dark">
      <a class="button icon-left ion-chevron-left button-clear button-light" ng-click="goBack()"></a>
      <h1 class="title">O programu</h1>
    </div>
<div class="list has-header">
  <div class="item item-dark item-image ">
    <img src="img/bus-logo.png">
  </div>
  <div class="item text-center">
    <h2>BusLine Info ver 1.0.0</h2>
    <p >Autor: Veljko Dimović</p>
    <p id="testWrap" class="wrap">Ovde sad treba da ide neki dislejmer, nesto mnogo glupo a mnogo pametno da kazem i slicno, bitno je
      da ima dosta teksta sad ubaceno da ja mogu da probam dodavanje tekst.
    </p>
  </div>

  <a class="item  energized text-center" href="#">
    <i class="icon ion-star"></i>
    Oceni ovu aplikaciju
    <div class=" range energized">
    <i class="icon ion-ios-star-outline"></i>
    <input type="range" name="volume">
    <i class="icon ion-ios-star"></i>
  </div>
  <div class="row">
    <div class="col text-center ">
      <button class="button button-dark" ng-click="addToFavorites()">
         Oceni
      </button>
    </div>
  </div>
  </a>


</div>
