/* Empty. Add your own CSS if you like */
.margin-top{
  margin-top: 10px;
}

.margin-top-big{
  margin-top: 43px;
}

#delete.icon-custom{
  font-size: 16px;
}

.button-padding{
  margin: 10px 5px 0px 5px
}

#notBar.color{
  color:#33cd5f;
}

#testWrap.wrap{
white-space: normal;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}
